---
layout: default
---

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <!-- Loop through all the authors -->
        {% for author_name in site.data.authors.list %}
        {% assign author = site.data.authors[author_name] %}
        <div class="c-authorInfo">
            <div class="b-authorImg">
                <div class="b-img">  <!-- js-expand -->
                    <a href="{{ site.baseurl }}/authors/{{ author.full_name | slugify }}"><img src="{{ author.image }}"></a>
                </div>
            </div>
            <div class="b-authorInfo">
                <a href="{{ site.baseurl }}/authors/{{ author.full_name | slugify }}"><h3 class="e-title">{{ author.full_name }}</h3></a>
                <div class="b-contact">
                    <p><strong>Email:</strong> <a href="mailto:{{ author.email }}">{{ author.email }}</a></p>
                </div>
                <div class="b-social">
                    <ul>
                        {% if author.social.facebook %}
                        <li class="b-facebook"><a href="{{author.social.facebook}}" title="Facebook" target="_blank"><span class="fa fa-facebook"></span></a></li>
                        {% endif %}
                        {% if author.social.twitter %}
                        <li class="b-twitter"><a href="{{author.social.twitter}}" title="Twitter" target="_blank"><span class="fa fa-twitter"></span></a></li>
                        {% endif %}
                        {% if author.social.google_plus %}
                        <li class="b-google-plus"><a href="{{author.social.google_plus}}" title="Google+" target="_blank"><span class="fa fa-google-plus"></span></a></li>
                        {% endif %}
                        {% if author.social.linkedin %}
                        <li class="b-linkedin"><a href="{{author.social.linkedin}}" title="Linkedin" target="_blank"><span class="fa fa-linkedin"></span></a></li>
                        {% endif %}
                        {% if author.social.github %}
                        <li class="b-github"><a href="{{author.social.github}}" title="Github" target="_blank"><span class="fa fa-github"></span></a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="b-metaTag">
                    <p><span class="e-label">Posts</span> {{ site.posts | where: "author", author.name | size }}</p>
                    <p><span class="e-label">Since</span> {{ author.blogging_since }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>