---
permalink: landing.html
---

<!DOCTYPE html>
<html lang="en">
<head>
    <!--[if lt IE 9]>
    	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    	<script src="scripts/iepngfix_tilebg.js"></script>
    <![endif]-->

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/ico" href="{{ site.baseurl }}/assets/images/favicon.ico">
    <link rel="shortcut-icon" type="image/ico" href="{{ site.baseurl }}/assets/images/favicon.ico">

    <title>{{ page.title }} - {{ site.title }}</title>

    {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
    {% endif %}

    <!-- CDN Styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/bfe45b6074.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

    <!-- CDN Early scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js" integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/master.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
</head>
<body class="landing">

    <main class="l-main">
        <section class="s-landingContent">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="c-landingForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="b-logo">
                                        <a href="{{ site.baseurl }}/"><img class="e-logo" src="{{ site.logo }}" alt="Embed Journal" class="img-responsive"></a>
                                    </div>
                                </div>
                                <div class="col-md-5 col-md-push-7">
                                    <div class="b-image">
                                        <img src="{{ site.baseurl }}/assets/images/sample-tablet-image-3.png" class="e-image">
                                    </div>
                                </div>
                                <div class="col-md-7 col-md-pull-5">
                                    <div class="b-content">

                                        <h1>What is Lorem Ipsum?</h1>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                                        <div id="mc_embed_signup">
                                            <form action="//embedjournal.us7.list-manage.com/subscribe/post?u=ca5f8bb3dc0dd541355131c0c&amp;id=16e5ebc6de" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                                <div id="mc_embed_signup_scroll">
                                                <div class="mc-field-group">
                                                	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
                                                </div>
                                                <div class="mc-field-group">
                                                	<input type="text" value="" name="NAME" class="required" id="mce-NAME" placeholder="Name">
                                                </div>
                                            	<div id="mce-responses" class="clear">
                                            		<div class="response" id="mce-error-response" style="display:none"></div>
                                            		<div class="response" id="mce-success-response" style="display:none"></div>
                                            	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ca5f8bb3dc0dd541355131c0c_16e5ebc6de" tabindex="-1" value=""></div>
                                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-green"></div></div>
                                            </form>
                                        </div>
                                        <script type="text/javascript" src="{{ site.baseurl }}/assets/js/mc.js"></script>
                                        <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='NAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                                        <!--End mc_embed_signup-->

                                        <!-- <form class="b-form">
                                            <div class="b-field -halfWidth">
                                                <input type="text" placeholder="Name" class="e-field -text">
                                            </div>
                                            <div class="b-field -halfWidth">
                                                <input type="text" placeholder="Email" class="e-field -text">
                                            </div>
                                            <div class="b-field -fullWidth">
                                                <input type="checkbox" class="e-field -checkbox js-checkbox" id="newsletter">
                                                <label class="e-label">Subscribe to newsletters</label>
                                            </div>
                                            <div class="b-submit">
                                                <input type="submit" value="Download" class="btn btn-green" id="landingSubmit">
                                            </div>
                                        </form> -->
                                    </div>
                                    <div class="c-footerCopyText">
                                        <p>© Copyright 2017 <a href="site.url">{{ site.title }}</a> All Rights Reserved.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Back to top button -->
    <a href="#" class="c-toTop js-toTop"><span class="fa fa-angle-up"></span></a>
</body>
    <!-- Load scripts at the the end of page to increase page speed -->
    {% include scripts.html %}
</html>
