---
title: Archives
layout: default
permalink: "/archives/"
paginate:
  limit: false
---

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
		<div class="c-posts">
			<div class="b-title">
				<h3>Archives</h3>
			</div>
			<div class="b-posts">

				{% for post in paginator.posts %}
				<div class="b-postItem">
				    <div class="b-postImg">
				        <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
				            {% capture image-path %}{{ site.baseurl }}/assets/{{ post.path | replace:'_posts/', 'posts/' | replace:'.md','' }}{% endcapture %}
				            <img src="{{ image-path }}/{{ post.thumbnail }}" alt="{{ post.title }}">
				        </a>
				    </div>
				    <div class="b-postDesc">
				        <a href="{{ post.url | relative_url }}" title="{{ post.title }}" class="e-title"><h4>{{ post.title }}</h4></a>
				        <p>{{ post.content | strip_html | truncatewords:50 }}</p>
				        <div class="c-postInfo">
				            <div class="b-author">
				                {% assign author = site.data.authors[post.author] %}
				                <p>By <a href="{{ site.baseurl }}/author/{{ author.full_name | slugify }}">{{ author.name }}</a></p>
				            </div>
				            <div class="b-category">
                                <p>
                                    <span class="fa fa-folder"></span>
                                    <a href="{{ site.baseurl }}/category/{{ post.category | slugify }}">{{ post.category }}</a>
                                </p>
				            </div>
				            <div class="b-tags">
				                <p><span class="fa fa-tags"></span></p>
				                <ul>
				                    {% for tag in post.tags %}
				                        <li><a href="{{ site.baseurl }}/tag/{{ tag | slugify }}">{{ tag }}</a></li>
				                    {% endfor %}
				                </ul>
				            </div>
				        </div>
				    </div>
				    <div class="b-dateLabel">
				        {{ post.date | date: "%b %-d, %Y" }}
				    </div>
				</div>
				{% endfor %}
			</div>
		</div>
		{% capture paginator_base_path %}{{ site.baseurl }}/archives{% endcapture %}
		{% if paginator.total_pages > 1 %}
			<div class="c-pagination">
			    <ul>
			        {% for page in (1..paginator.total_pages) %}
			            {% if page == paginator.page %}
			                <li class="active disabled"><a href="#">{{ page }}</a></li>
			            {% elsif page == 1 %}
			                <li><a href="{{ paginator_base_path }}/">{{ page }}</a></li>
			            {% else %}
			                <li><a href="{{ paginator_base_path }}/page{{ page }}">{{ page }}</a></li>
			            {% endif %}
			        {% endfor %}
			    </ul>
			</div>
		{% endif %}
    </div>
</div>
