---
title: "Home Page"
layout: default
---

<div class="row">
    <div class="col-md-8 js-content">
        <div class="theiaStickySidebar">

            <!-- Featured Posts -->
            {% assign featured = site.posts | where: "featured_post", "true" %}
            {% if featured.size > 0 %}
            <div class="c-posts" id="authorName">
                <div class="b-title">
                    <h3>Featured Posts</h3>
                </div>
                <div class="b-posts">
                    {% for post in featured limit:10 %}
                        <!-- Single block start -->
                        <div class="b-postItem">
                            <div class="b-postImg">
                                <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
                                    {% capture image-path %}{{ site.baseurl }}/assets/{{ post.path | replace:'_posts/', 'posts/' | replace:'.md','' }}/post-thumb.jpg{% endcapture %}
                                    <img src="{{ image-path }}" alt="{{ post.title }}">
                                </a>
                            </div>
                            <div class="b-postDesc">
                                <a href="{{ post.url | relative_url }}" title="{{ post.title }}"><h4>{{ post.title }}</h4></a>
                                <div class="c-postInfo">
                                    <div class="b-author">
                                        {% assign author = site.data.authors[post.author] %}
                                        <p>By <a href="{{ site.baseurl }}/author/{{ author.full_name | slugify }}">{{ author.name }}</a></p>
                                    </div>
                                    <div class="b-category">
                                        <p>
                                            <span class="fa fa-folder"></span>
                                            {% for category in post.categories %}
                                                <a href="{{ site.baseurl }}/category/{{ category | slugify }}">{{ category }}{% unless forloop.last %}</a>, {% endunless %}
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <div class="b-tags">
                                        <p><span class="fa fa-tags"></span></p>
                                        <ul>
                                            {% for tag in post.tags %}
                                                <li><a href="{{ site.baseurl }}/tag/{{ tag | slugify }}">{{ tag }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="b-dateLabel">
                                {{ post.date | date: "%b %-d, %Y" }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <!-- Popular Posts -->
            {% assign popular = site.posts | where: "popular_post", "true" %}
            {% if popular.size > 0 %}
            <div class="c-posts" id="authorName">
                <div class="b-title">
                    <h3>Popular Posts</h3>
                </div>
                <div class="b-posts">
                    {% for post in popular limit:10 %}
                        <!-- Single block start -->
                        <div class="b-postItem">
                            <div class="b-postImg">
                                <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
                                    {% capture image-path %}{{ site.baseurl }}/assets/{{ post.path | replace:'_posts/', 'posts/' | replace:'.md','' }}/post-thumb.jpg{% endcapture %}
                                    <img src="{{ image-path }}" alt="{{ post.title }}">
                                </a>
                            </div>
                            <div class="b-postDesc">
                                <a href="{{ post.url | relative_url }}" title="{{ post.title }}"><h4>{{ post.title }}</h4></a>
                                <div class="c-postInfo">
                                    <div class="b-author">
                                        {% assign author = site.data.authors[post.author] %}
                                        <p>By <a href="{{ site.baseurl }}/author/{{ author.full_name | slugify }}">{{ author.name }}</a></p>
                                    </div>
                                    <div class="b-category">
                                        <p>
                                            <span class="fa fa-folder"></span>
                                            {% for category in post.categories %}
                                                <a href="{{ site.baseurl }}/category/{{ category | slugify }}">{{ category }}{% unless forloop.last %}</a>, {% endunless %}
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <div class="b-tags">
                                        <p><span class="fa fa-tags"></span></p>
                                        <ul>
                                            {% for tag in post.tags %}
                                                <li><a href="{{ site.baseurl }}/tag/{{ tag | slugify }}">{{ tag }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="b-dateLabel">
                                {{ post.date | date: "%b %-d, %Y" }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <!-- Trending Now -->
            {% assign trending = site.posts | where: "trending_post", "true" %}
            {% if trending.size > 0 %}
            <div class="c-posts" id="authorName">
                <div class="b-title">
                    <h3>Tending Now</h3>
                </div>
                <div class="b-posts">
                    {% for post in trending %}
                        <!-- Single block start -->
                        <div class="b-postItem">
                            <div class="b-postImg">
                                <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
                                    {% capture image-path %}{{ site.baseurl }}/assets/{{ post.path | replace:'_posts/', 'posts/' | replace:'.md','' }}/post-thumb.jpg{% endcapture %}
                                    <img src="{{ image-path }}" alt="{{ post.title }}">
                                </a>
                            </div>
                            <div class="b-postDesc">
                                <a href="{{ post.url | relative_url }}" title="{{ post.title }}"><h4>{{ post.title }}</h4></a>
                                <div class="c-postInfo">
                                    <div class="b-author">
                                        {% assign author = site.data.authors[post.author] %}
                                        <p>By <a href="{{ site.baseurl }}/author/{{ author.full_name | slugify }}">{{ author.name }}</a></p>
                                    </div>
                                    <div class="b-category">
                                        <p>
                                            <span class="fa fa-folder"></span>
                                            {% for category in post.categories %}
                                                <a href="{{ site.baseurl }}/category/{{ category | slugify }}">{{ category }}{% unless forloop.last %}</a>, {% endunless %}
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <div class="b-tags">
                                        <p><span class="fa fa-tags"></span></p>
                                        <ul>
                                            {% for tag in post.tags %}
                                                <li><a href="{{ site.baseurl }}/tag/{{ tag | slugify }}">{{ tag }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="b-dateLabel">
                                {{ post.date | date: "%b %-d, %Y" }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4 js-aside">
        <div class="theiaStickySidebar">
            <aside class="c-aside">
                {% include sidebar-homepage.html %}
            </aside>
        </div>
    </div>
</div>