ErrorDocument 404 /404.html

RewriteEngine On

# redirect http to https and www.domain.com to domain.com
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# redirect YYYY/MM/ to archives/YYYY/MM/
RewriteRule ^(\d+/\d+/?)$ /archives/$1 [L,R=301]

# redirect YYYY/MM/post-slug/ to /post-slug/
RewriteRule ^\d+/\d+/(.*)$ /$1 [L,R=301]

# strip any URL parameters
RewriteCond %{QUERY_STRING} .
RewriteRule ^ %{REQUEST_URI}? [R=301,L,NE]

<IfModule mod_expires.c>
    ExpiresActive on

    ExpiresDefault "access plus 2 days"
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType text/javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
    ExpiresByType application/x-shockwave-flash "access plus 1 month"
    ExpiresByType text/css "now plus 1 month"
    ExpiresByType image/ico "access plus 1 month"
    ExpiresByType image/x-icon "access plus 1 month"
    ExpiresByType text/html "access plus 600 seconds"
   ExpiresDefault "access plus 1 month"
</IfModule>

<IfModule mod_headers.c>
    Header set Connection keep-alive
    <filesmatch "\.(ico|flv|gif|swf|eot|woff|otf|ttf|svg)$">
        Header set Cache-Control "max-age=2592000, public"
    </filesmatch>
    <filesmatch "\.(jpg|jpeg|png)$">
        Header set Cache-Control "max-age=1209600, public"
    </filesmatch>
    <filesmatch "\.(eot|woff|otf|ttf|svg)$">
        Header set Cache-Control "max-age=2592000, public"
    </filesmatch>
    # css and js should use private for proxy caching https://developers.google.com/speed/docs/best-practices/caching#LeverageProxyCaching
    <filesmatch "\.(css)$">
        Header set Cache-Control "max-age=31536000, private"
    </filesmatch>
    <filesmatch "\.(js)$">
        Header set Cache-Control "max-age=1209600, private"
    </filesmatch>
    <filesMatch "\.(x?html?|php)$">
        Header set Cache-Control "max-age=600, private, must-revalidate"
    </filesMatch>
</IfModule>

# ----------------------------------------------------------------------
# GZIP Compression
# ----------------------------------------------------------------------

SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/x-javascript application/x-httpd-php image/jpeg
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip

# ----------------------------------------------------------------------
# Permanent Redirection
# ----------------------------------------------------------------------

redirect 301 /board_stm32_min_dev.patch /iot-rtos-zephyr-stm32-minimum-system-development-board/
redirect 301 /board_stm32_min_dev_v1.patch /iot-rtos-zephyr-stm32-minimum-system-development-board/
redirect 301 /board /iot-rtos-zephyr-stm32-minimum-system-development-board/

redirect 301 /tag/algorithms/ /tag/algorithm/
redirect 301 /category/embedded-theory /category/embedded
redirect 301 /how-to /tag/howto
redirect 301 /category/how-to /tag/howto
redirect 301 /generalposts /category/general-posts
redirect 301 /circuit_design /category/hardware
redirect 301 /latest-news /category/news
redirect 301 /linux /category/linux
redirect 301 /programming-2 /category/programming

redirect 301 /tech-review/embedded-software /category/review
redirect 301 /tech-review/embedded-hardware /category/review
redirect 301 /tech-review /category/review

redirect 301 /embedded-systems/pic-microcontroller /category/microchip-pic
redirect 301 /embedded-systems/arduino-embedded_systems /category/arduino
redirect 301 /embedded-systems/basics /tag/basics
redirect 301 /embedded-systems/interface /tag/interface
redirect 301 /embedded-systems /category/embedded-theory

redirect 301 /robotics/robots /category/robotics
redirect 301 /robotics/robot-theory /category/robotics
redirect 301 /robotics /category/robotics

redirect 301 /embedjournal-about /about
redirect 301 /about-embedjournal /about
redirect 301 /embed-journal-about /about

redirect 301 /siddharth-chandrasekaran /authors/siddharth-chandrasekaran
redirect 301 /author/siddharth /authors/siddharth-chandrasekaran
redirect 301 /author/manivannan /authors/mani-sadhashivam
redirect 301 /author /authors

redirect 301 /interfacing-lcd-module-part-1 /interfacing-lcd-module-basics
redirect 301 /0-to-99-counter-using-7-segment-displays-based-on-external-events /external-event-counter-seven-segment-displays
redirect 301 /pc-does-not-have-serial-port-maybe-it-does /pc-serial-port-not-dead

redirect 301 /stepper-motor-and-how-they-work /stepper-motors-introduction-and-working-principle
redirect 301 /how-to-use-gmail-form-terminal-linux /how-to-use-gmail-from-terminal-linux
