<footer class="l-footer">
    <section class="s-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="c-footerSocial">
						<ul>
							<li class="b-rss">
								<a href="{{ site.social.rss }}" target="_blank" title="RSS Feed"><span class="fa fa-rss"></span></a>
							</li>
							<li class="b-google-plus">
								<a href="{{ site.social.google_plus }}" title="Google+" target="_blank"><span class="fa fa-google-plus"></span></a>
							</li>
							<li class="b-facebook">
								<a href="{{ site.social.facebook }}" title="Facebook" target="_blank"><span class="fa fa-facebook"></span></a>
							</li>
							<li class="b-twitter">
								<a href="{{ site.social.twitter }}" title="Twitter" target="_blank"><span class="fa fa-twitter"></span></a>
							</li>
							<li class="b-linkedin">
								<a href="{{ site.social.linkedin }}" title="Linkedin" target="_blank"><span class="fa fa-linkedin"></span></a>
							</li>
							<li class="b-youtube">
								<a href="{{ site.social.youtube }}" title="Youtube" target="_blank"><span class="fa fa-youtube"></span></a>
							</li>
							<li class="b-github">
								<a href="{{ site.social.github }}" title="Github" target="_blank"><span class="fa fa-github"></span></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-lg-5 col-lg-offset-1">
					<div class="c-footerAbout">
						<a href="{{ site.baseurl }}//about"><h3>About {{ site.title }}</h3></a>
						<p>{{ site.description }}</p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">
					<div class="c-footerNav">
						<ul>
							{% for link in site.data.navigation.footer_pages %}
								<li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.item }}</a></li>
							{% endfor %}
						</ul>
						<ul>
							{% for link in site.data.navigation.footer_policies %}
								<li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.item }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="c-footerCopyText">
						<p>© Copyright 2017 <a href="{{ site.url }}">{{ site.title }}</a> All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</div>
    </section>
</footer>
