{% capture image_path %}{{ site.baseurl }}/assets/{{ page.path | replace:'_posts/', 'posts/' | replace:'.md','' }}{% endcapture %}

<div class="c-rectGallery js-rectGallery">
	<div class="row" data-featherlight-gallery data-featherlight-filter="a">
		{% for image in include.list %}
		{% if include.column == "two" %}
		<div class="col-md-6 col-xs-6">
		{% else %}
		<div class="col-md-4 col-xs-6">
		{% endif %}
			<a class="b-captionImg" href="{{ image_path }}/{{ image.src }}">
				<img 
					data-src="{{ image_path }}/{{ image.src }}"
					class="img-responsive lazyload" 
					{% if image.name %}
					alt="{{ image.name }}
					{% endif %}"
				>
			</a>
		</div>
		{% endfor %}
	</div>
</div>
