{% capture image-path %}{{ site.baseurl }}/assets/{{ page.path | replace:'_posts/', 'posts/' | replace:'.md','' }}/{{ include.src }}{% endcapture %}

<div>
	<a class="b-captionImg" href="#" data-featherlight="{{ image-path }}">
		<img 
			src="{{ image-path }}" class="img-responsive" 
			{% if include.width %}
				width="{{ include.width }}"
				{% endif %}
			{% if include.alt %}
				alt="{{ include.alt }}"
			{% else %}
				alt="{{ include.src | replace '-', ' ' | replace '.png', '' | replace '.jpg', '' | replace '.gif', '' }}"
			{% endif %}
		/>
		{% if include.caption %}
			<p>{{ include.caption }}</p>
		{% endif %}
	</a>
</div>
