<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="author" content="{{ page.author }}">
<link rel="author" href="{{ site.author.url }}">
<meta name="keywords" content="{{ site.author }}, {{ site.title }}, {{ page.keywords }}">
{% if page.description %}
{% assign desc = page.description %}
{% else %}
{% assign desc = site.description %}
{% endif %}
<meta name="description" content="{{ desc }}">

<!-- Facebook Open Graph -->
<meta name="og:description" content="{{ desc }}">
<meta name="og:title" content="{{ site.title }}">
<meta name="og:url" content="{{ url }}">
<meta name="og:type" content="article">
{% if page.image %}
<meta name="og:image" content="{{ page.image }}">
{% endif %}
{% if site.facebook_username %}
<meta name="fb:admins" content="{{ site.social.facebook }}">
{% endif %}

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ desc }}">
<meta name="twitter:url" content="{{ url }}">
{% if page.image %}
<meta name="twitter:image" content="{{ page.image }}">
{% else %}
<meta name="twitter:image" content="{{ site.logo }}">
{% endif %}

<link rel="alternate" type="application/rss+xml" title="RSS Feed for embedjournal.com" href="/rss.xml" />
