
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<script src="scripts/iepngfix_tilebg.js"></script>
<![endif]-->

{% if page.description %}
  {% assign desc = page.description %}
{% else %}
  {% capture headchars %}{{ page.content | strip_html | truncatewords:50 }}{% endcapture %}
  {% assign desc = headchars %}
{% endif %}
{% assign author = site.data.authors.[page.author] %}
{% capture post_image %}{{ site.url }}/assets/{{ page.path | replace:'.md','' | replace:'_post','post_image' }}/{{ page.thumbnail }}{% endcapture %}

<title>{{ page.title }} - {{ site.title }}</title>

<!-- CDN Styles -->
<link rel="stylesheet" href="https://use.fontawesome.com/bfe45b6074.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.1/featherlight.min.css" integrity="sha256-4JAn9pTSLsMigb/pMsQIsVuZVBIuzKzovU6ofF5HRcI=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.1/featherlight.gallery.min.css" integrity="sha256-LfglqcCLb9uK5WBpGCtF17sC9kOKgOw5ZKZ+MQl0XV0=" crossorigin="anonymous" />

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- Custom Styles -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/master.css">

<!-- Early scripts -->
<script src="{{ site.baseurl }}/assets/js/lazysizes.min.js" async=""></script>

<!-- Content -->
<meta charset="utf-8">
<meta http-equiv="Cache-control" content="public">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- Page -->
<link rel="author" href="{{ author.homepage }}">
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<meta name="keywords" content="{{ site.author }}, {{ site.title }}, {{ page.keywords }}">
<meta name="author" content="{{ author.full_name }}">
<meta name="description" content="{{ desc }}" />
<!-- Open Graph -->
<meta name="og:site_name" content="{{ site.name }}">
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ desc }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:image" content="{{ post_image }}">
<meta property="article:published_time" content="{{ page.date }}" />
<meta property="article:author" content="{{ author.full_name }}" />
<meta property="article:section" content="{{ page.categories[0] }}" />
{% for tag in page.tags %}
<meta property="article:tag" content="{{ tag }}" />
{% endfor %}
<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
<meta name="twitter:site" content="@embedjournal" />
<meta name="twitter:creator" content="@{{ author.twitter }}" />
<meta name="twitter:description" content="{{ desc }}">
<meta name="twitter:image" content="{{ post_image }}">
<!-- Other -->
<link rel="icon" type="image/ico" href="{{ site.baseurl }}/assets/images/favicon.ico">
<link rel="shortcut-icon" type="image/ico" href="{{ site.baseurl }}/assets/images/favicon.ico">
<meta property="fb:admins" content="568323306524581" />
<link rel="alternate" type="application/rss+xml" title="RSS Feed for embedjournal.com" href="/rss.xml" />
<!-- Schema -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title }}",
  "datePublished": "{{ page.date }}",
  "description": "{{ desc }}",
  "publisher": {
    "@type": "Organization",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.logo }}"
    }
  },
  "url": "{{ site.url }}{{ page.url }}"
}
</script>
<!-- Go to home page after 10 seconds -->
{% if page.url == "/404.html" %}
<meta http-equiv="refresh" content="10; url=/">
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js" integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE=" crossorigin="anonymous"></script>
