{% if site.env == "production" %}
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-41190078-1', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}

{% if site.use_local_resources %}
<!-- Local Resources -->
<script src="/assets/plugins/jquery/jquery-1.11.1.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/plugins/featherlight/featherlight.min.js"></script>
<script src="/assets/plugins/featherlight/featherlight.gallery.min.js"></script>
{% else %}
<!-- CDN Resources -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js" integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.1/featherlight.min.js" integrity="sha256-kpeEISoLEV/PTvAKcPYrYsUMHr8eLhPcg8UX0GP8aKA=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.1/featherlight.gallery.min.js" integrity="sha256-bNYmpqDTmqjBn49yAzBQM+dVwQAHOSdhHfnORHMUiZo=" crossorigin="anonymous"></script>
{% endif %}

<!-- Custom Scripts -->
<script src="{{ site.baseurl }}/assets/js/functions.js"></script>
<script src="{{ site.baseurl }}/assets/js/theia-sticky-sidebar.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/ResizeSensor.min.js"></script>
