---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>

    {% include header.html %}

    <main class="l-main">
        <section class="s-mainContent">
            <div class="container">

            	{{ content }}

            </div>
        </section>
    </main>

    <!-- footer -->
    {% include footer.html %}

    <!-- Back to top button -->
    <a href="#" class="c-toTop js-toTop"><span class="fa fa-angle-up"></span></a>
    <!-- Load scripts at the the end of page to increase page speed -->
    <script src="{{ site.baseurl }}/assets/js/main.min.js"></script>
</body>
</html>
