<!DOCTYPE html>
<html lang="en">
<head>
  {% if page.is_post %}
    {% include post-head.html %}
  {% else %}
    {% include page-head.html %}
  {% endif %}
</head>
<body>

    {% include header.html %}

    <main class="l-main">
        <section class="s-mainContent">
            <div class="container">

            	{{ content }}

            </div>
        </section>
    </main>

    <!-- footer -->
    {% include footer.html %}

    <!-- Back to top button -->
    <a href="#" class="c-toTop js-toTop"><span class="fa fa-angle-up"></span></a>
</body>
    <!-- Load scripts at the the end of page to increase page speed -->
    {% include scripts.html %}
</html>
