---
layout: default
---

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
		<div class="c-posts">
			<div class="b-title">
				<h3>{{ page.title }}</h3>
			</div>
			<div class="b-posts">

			{{ content }}

			</div>
		</div>

		<div class="c-pagination">
			<ul>
				<li class="disabled"><a href="#"><span class="fa fa-angle-double-left"></span></a></li>
				<li class="disabled"><a href="#"><span class="fa fa-angle-left"></span></a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">...</a></li>
				<li><a href="#"><span class="fa fa-angle-right"></span></a></li>
				<li><a href="#"><span class="fa fa-angle-double-right"></span></a></li>
			</ul>
		</div>
    </div>
</div>
